.App {
  
  text-align: center;
}

/* .App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
} */

/*.App-header {
  background-color: #527dd3;
  min-height: 1;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}*/


.navbar-color {
  background-color: #222222;
}

/* Body */
body {
  background-color:#6d6d6d ;
  padding-top: 80px;  
}
@media (max-width: 979px) {
  body {
    padding-top: 80px;
  }
}

/* Footer */
footer{
    padding: 15px 0;
    background: #333;
    margin-top: 20px;
    font-size: 15px;
}


@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

/* Heder : police et couleur */
.po-AndaleMono{ 
  font-family: Andale Mono,AndaleMono,monospace; 
}
a.Green:link {color: #02f002;}              /* Lien non visité */
a.Green:visited {color:#02f002;}          /* Lien visité */
a.Green:hover {color:#02f002;}            /* Lien survolé*/
a.Green:active {color:#02f002;}           /* Lien sélectionné */

/* Décallage Div*/ 
.div-margin{
  margin : 300px ;
}
/* H2 mise à jour */
.pol-SegoeUI{
  font-family:  Segoe UI;
}




/* Carré présentation */
.testimonial{
    text-align: center;
    margin: 50px 10px 0;
    padding: 0 10% 1%;
    background: #fff;
}
.testimonial .pic{
    width: 250px;
    height: 250px;
    border-radius: 50%;
    border: 5px solid rgba(255,255,255,0.3);
    display: inline-block;
    margin-top: -130px;
    overflow: hidden;
    box-shadow:0 2px 6px rgba(0, 0, 0, 0.15);
}
.testimonial .pic img{
    width: 100%;
    height: auto;
}
.testimonial .description{
    font-size: 16px;
    font-style: italic;
    color: #808080;
    line-height: 30px;
    margin: 10px 0 20px;
}
.testimonial-border{
  border: solid 5px #999999;
  border-radius: 13px;
}
.testimonial .testimonial-title{
    font-size: 14px;
    font-weight: bold;
    margin: 0;
    color: #333;
    text-transform: uppercase;
}
.testimonial .post{
    display: block;
    font-size: 13px;
    color: #777;
    margin-bottom: 15px;
    text-transform: capitalize;
}
.testimonial .post:before{
    content: "";
    width: 30px;
    display: block;
    margin: 10px auto;
    border: 1px solid #d3d3d3;
}
.testimonial .testimonial-rating{
    margin: 0 0 15px 0;
    padding: 0;
    list-style: none;
}
.testimonial .testimonial-rating li{
    color: #d3d3d3;
    display: inline-block;
}
.testimonial .testimonial-rating li.fa-star{
    color: #333;
}
.owl-theme .owl-controls{
    margin-top: 30px;
}
.owl-theme .owl-controls .owl-pagination{
    width: 140px;
    padding: 10px;
    margin: 0 auto;
    line-height: 13px;
    background: #fe7f8b;
}
.owl-theme .owl-controls .owl-page span{
    width: 12px;
    height: 12px;
    border-radius: 0;
    background: transparent;
    border: 1px solid #fff;
}
.owl-theme .owl-controls .owl-page.active span,
.owl-theme .owl-controls.clickable .owl-page:hover span{
    border: 4px solid #fff;
}

.center-div{
  margin: 0 auto;
}

.img-pxl {
  width: 30px;
  height: 30px;
}
.img-pxl2 {
  width: 35px;
  height: 35px;
}












.featurette-divider {
  margin: 50px 350px; /* <hr> between each */
}
 .featurette {
  overflow: hidden; /* Clear floats */
  margin: 0px 300px ; /* <hr> between each */
}
 .featurette-heading {
  font-size: 50px;
  font-weight: 300;
  line-height: 1;
  letter-spacing: -1px;
}