.App {
  text-align: center;
  color : #aaaaaa;
}

@viewport {
  width: device-width; /* largeur du viewport */
  zoom: 1; 
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

/* Navbar*/
.navbar-color {
  background-color: #222222;
}
.footer-color {
  background-color: #222222;
}

/* Body */
body {
  background-color:#1d1d1d ;
  padding-top: 80px;  
}
@media (max-width: 979px) {
  body {
    padding-top: 80px;
  }
}

hr {
  background-color: currentColor;
  min-width: 10%;
  height: 1px;
  margin-left: -550px;
  border: none;
  margin: 5px ;
  position: relative;
}

/* Links for formation */
a.link-formation {
  color : #e9e9e9;
  text-decoration:none; 
}
img.img-formation {
  margin-top: 2px;
  margin-left: 2px;
  width: 200px;
  height: 100px;
  border-radius: 10px;
}

/* Div compétences */
.div-comp-l{
  margin-right: 5px;
  margin-top: 10px;
  border : solid 2px
  
}
.div-comp-r{
  margin-left: 5px;
  margin-top: 10px;
  border : solid 2px

}

/* Titles*/
h2.title{
  color: #ffffff;
}
h3 {
  color: #af8505;
}
h4 {
  color: #aaaaaa;
}
h5 {
  color: #aaaaaa;
}

.div-border{
  border: solid 1px;
  border-color : white;
  margin-top: 10px;
}

/* images*/ 
.img-pxl {
  width: 30px;
  height: 30px;
}
.img-pxl2 {
  width: 35px;
  height: 35px;
}
.img-up{
  width: 30px;
  height: 30px;
  border-radius:100px;
  overflow: hidden;
}
.button-style{
  background-color: blue;
}




/* Footer */
footer{
  background: #333;
  color : black;
  font-size: 15px;
  height: 45px
}


@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}



/* Décallage Div*/ 
.div-margin{
  margin : 300px ;
}
/* H2 mise à jour */
.pol-SegoeUI{
  font-family:  Segoe UI;
}

/* Navbar*/
.navbar-color {
  background-color: #222222;
}

/* Heder : police et couleur */
.po-AndaleMono{ 
font-family: Andale Mono,AndaleMono,monospace; 
}
.Green:link {color: #369142; text-decoration:none;}              /* Lien non visité */
.Green:visited {color:#369142; text-decoration:none;}          /* Lien visité */
.Green:hover {color:#369142; text-decoration:none;}            /* Lien survolé*/
.Green:active {color:#369142; text-decoration:none;}           /* Lien sélectionné */


/* Carré présentation */
.testimonial{
    text-align: center;
    margin: 120px 10px 0;
    padding: 0 10% 1%;
    background: #fff;
}
.testimonial .pic{
    width: 250px;
    height: 250px;
    border-radius: 50%;
    border: 5px solid rgba(255,255,255,0.3);
    display: inline-block;
    margin-top: -130px;
    overflow: hidden;
    box-shadow:0 2px 6px rgba(0, 0, 0, 0.15);
}
.testimonial .pic img{
    width: 100%;
    height: auto;
}
.testimonial .description{
    font-size: 16px;
    font-style: italic;
    color: #808080;
    line-height: 30px;
    margin: 10px 0 20px;
}
.testimonial-border{
  border: solid 5px #999999;
  border-radius: 13px;
}
.testimonial .testimonial-title{
    font-size: 14px;
    font-weight: bold;
    margin: 0;
    color: #333;
    text-transform: uppercase;
}
.testimonial .post{
    display: block;
    font-size: 13px;
    color: #777;
    margin-bottom: 15px;
    text-transform: capitalize;
}
.testimonial .post:before{
    content: "";
    width: 30px;
    display: block;
    margin: 10px auto;
    border: 1px solid #d3d3d3;
}
.testimonial .testimonial-rating{
    margin: 0 0 15px 0;
    padding: 0;
    list-style: none;
}
.testimonial .testimonial-rating li{
    color: #d3d3d3;
    display: inline-block;
}
.testimonial .testimonial-rating li.fa-star{
    color: #333;
}
.owl-theme .owl-controls{
    margin-top: 30px;
}
.owl-theme .owl-controls .owl-pagination{
    width: 140px;
    padding: 10px;
    margin: 0 auto;
    line-height: 13px;
    background: #fe7f8b;
}
.owl-theme .owl-controls .owl-page span{
    width: 12px;
    height: 12px;
    border-radius: 0;
    background: transparent;
    border: 1px solid #fff;
}
.owl-theme .owl-controls .owl-page.active span,
.owl-theme .owl-controls.clickable .owl-page:hover span{
    border: 4px solid #fff;
}

.center-div{
  margin: 0 auto;
}




/* Barre de coupure entre les menus*/
.featurette-divider {
  margin: 50px 350px; /* <hr> between each */
}
 .featurette {
  overflow: hidden; /* Clear floats */
  margin: 0px 300px ; /* <hr> between each */
}
 .featurette-heading {
  font-size: 50px;
  font-weight: 300;
  line-height: 1;
  letter-spacing: -1px;
}



/* Return top */
.hidden{
  visibility: hidden;
}
.nothidden{
  bottom:20px;
}
.div-top{
  border-radius:50%;
  width:40px;
  height:40px;
  background: #2f7437 ;
  text-align: center;
  display: table-cell;
  vertical-align: middle;
}


/* Border formation*/


.div-form {
  margin-top: 15px;
  box-shadow: inset 0 0 0 1px #ffffff;
  color: #aaaaaa;
  position: relative;
  vertical-align: middle;
}
.div-form::before, .div-form::after {
  box-sizing: inherit;
  content: '';
  position: absolute;
  width: 100%;
  height: 100%;
}
.draw {
  transition: color 0.25s;
}
.draw::before, .draw::after {
  border: 1px solid transparent;
  width: 0;
  height: 0;
}
.draw::before {
  top: 0;
  left: 0;
}
.draw::after {
  bottom: 0;
  right: 0;
}
.draw:hover {
  color: #d7a407;;
}
.draw:hover::before, .draw:hover::after {
  width: 100%;
  height: 100%;
}
.draw:hover::before {
  border-top-color: #d7a407;;
  border-right-color: #d7a407;;
  transition: width 0.25s ease-out, height 0.25s ease-out 0.25s;
}
.draw:hover::after {
  border-bottom-color: #d7a407;;
  border-left-color: #d7a407;;
  transition: border-color 0s ease-out 0.5s, width 0.25s ease-out 0.5s, height 0.25s ease-out 0.75s;
}
.meet:hover {
  color: #aaaaaa;
}
.meet::after {
  top: 0;
  left: 0;
}
.meet:hover::before {
  border-top-color: #d7a407;;
  border-right-color: #d7a407;;
}
.meet:hover::after {
  border-bottom-color: #d7a407;;
  border-left-color: #d7a407;;
  transition: height 0.25s ease-out, width 0.25s ease-out 0.25s;
}